.contact-cta{
    background: #FFF3F3;
    padding: 50px 50px 0;
}
.what-app-btn {
    border: 1px solid #292929;
    width: fit-content;
    padding: 0  35px;
    gap: 15px;
    height: 50px;
}
.what-app-btn a {
    color: #505050;
    font-weight: 700;
    text-decoration: none;
}
.university-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 26.4px 0px #00000014;
    border-radius: 30px;
}
.popurlar-country{
    padding: 25px 25px 0;
    margin-bottom: 25px;
}
.cities h2 {
    color: #FE1C21;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.cities p {
    margin: 9px 0 0;
    color: #505050;
    font-weight: 500;
    font-size: 16px;
}
section.destination{
    margin-top: clamp(80px, 5vw, 150px);
}
section.destination p {
    max-width: 877px;
    margin: 25px auto 0;
    color: #5E5E5E;
    font-weight: 500;
}
section.destination p strong {
    color: #FE1C21;
    font-size: 21px;
    font-weight: 700;
}
.universities.flex-2.align-items-center {
    flex-wrap: wrap;
    gap: 20px;
}
.uk-img img{
    width: 100%;
}