.contact-cta {
  background: #fff3f3;
  padding: 50px 50px 0;
}
.whats-app-btn a {
  color: #505050;
  font-weight: 700;
  border: 1px solid #292929;
  padding: 13px;
  display: inline-block;
  text-align: center;
}
.contact-bts a {
  width: 330px;
}
section.get-in-touch {
  padding-bottom: 90px;
}
.get-in-touch p {
  font-size: 28px;
}
.university-card {
  background: #ffffff;
  box-shadow: 0px 0px 26.4px 0px #00000014;
  border-radius: 30px;
}
.popurlar-country {
  padding: 25px 25px 0;
  margin-bottom: 25px;
}
.cities h2 {
  color: #fe1c21;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
.cities p {
  margin: 9px 0 0;
  color: #505050;
  font-weight: 500;
  font-size: 16px;
}
section.destination {
  margin-top: clamp(80px, 5vw, 150px);
}
section.destination p {
  max-width: 877px;
  margin: 25px auto 0;
  color: #5e5e5e;
  font-weight: 500;
}
section.destination p strong {
  color: #fe1c21;
  font-size: 21px;
  font-weight: 700;
}
.universities.flex-2.align-items-center {
  flex-wrap: wrap;
  gap: 20px;
}
.uk-img img {
  width: 100%;
}
