@media (max-width: 575.98px) {
  .contact-info.flex-1,
  .amber-student {
    flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }
  .no-institute:before {
    display: none;
  }
  section.services-offer .flex-2 {
    flex-wrap: wrap;
  }
  body.contactus .enquiry-form {
    padding: 0;
  }
  section.talk-now .row {
    flex-direction: column-reverse;
  }
  .study-abroad-card.card {
    padding: 10px 15px;
  }

  section.banner {
    padding-top: 30px;
  }
  section.banner h1 {
    margin-bottom: 0 !important;
  }
  section.banner p.banner-sub-head {
    font-size: 30px;
    margin-bottom: 8px !important;
  }
  body h3,
  body p.get-ready {
    font-size: 22px !important;
  }
  section.our-story,
  section.study-abroad,
  section.make-scholars,
  section.ready-start,
  section.why-choose,
  section.our-expertise {
    padding: 30px 0 !important;
  }
  .section-top-mt {
    margin-top: 30px !important;
  }
  .section-top-pt {
    padding-top: 30px !important;
  }
  .get-in-touch .row {
    flex-direction: column-reverse;
  }
  .footer-section .community,
  .footer-section .community .community-logos {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-menu ul li {
    margin-top: 8px;
  }
  .landing-banner {
    background-size: cover;
    padding: 60px 10px 150px;
    height: auto;
  }
  .landing-banner h1 {
    line-height: 1.2;
  }
  .slide-nxt {
    top: 0 !important;
  }
  .welcome-ps-img {
    display: none;
  }
  section.sucess-story .swiper-wrapper {
    padding-top: 50px;
  }
  section.where-begin p,
  .get-in-touch p {
    font-size: 20px !important;
  }
  section.get-in-touch {
    padding-bottom: 30px !important;
  }
  section.banner {
    padding-top: 30px;
  }
  section.banner h1 {
    margin-bottom: 0 !important;
  }
  section.banner p.banner-sub-head {
    font-size: 30px;
    margin-bottom: 8px !important;
  }
  body h3,
  body p.get-ready {
    font-size: 22px !important;
  }
  section.our-story,
  section.ready-start,
  section.powered-by,
  section.why-choose,
  section.our-expertise {
    padding: 30px 0 !important;
  }
  .section-top-mt {
    margin-top: 30px !important;
  }
  .section-top-pt {
    padding-top: 30px !important;
  }
  .get-in-touch .row {
    flex-direction: column-reverse;
  }
  .footer-section .community,
  .footer-section .community .community-logos {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-menu ul li {
    margin-top: 8px;
  }
  .landing-banner {
    background-size: cover;
    padding: 60px 10px 150px;
    height: auto;
  }
  .landing-banner h1 {
    line-height: 1.2;
  }
  .slide-nxt {
    top: 0 !important;
  }
  .welcome-ps-img {
    display: none;
  }
  section.sucess-story .swiper-wrapper {
    padding-top: 50px;
  }
  .terms-block .row {
    margin-bottom: 20px !important;
  }
  section.terms-conditions .terms-btns {
    flex-direction: column !important;
  }
  body.terms-conditions section.banner {
    padding: 50px 0 40px !important;
  }
  .partner-block img {
    width: 50px;
  }
  .partner-block h3 {
    font-size: 18px !important;
  }

  section.banner h1 {
    margin-bottom: 0 !important;
  }
  section.banner p.banner-sub-head {
    font-size: 30px;
    margin-bottom: 8px !important;
  }
  body h3,
  body p.get-ready {
    font-size: 22px !important;
  }
  section.our-story,
  section.ready-start,
  section.why-choose,
  section.our-expertise {
    padding: 30px 0 !important;
  }
  .section-top-mt {
    margin-top: 30px !important;
  }
  .section-top-pt {
    padding-top: 30px !important;
  }
  .get-in-touch .row {
    flex-direction: column-reverse;
  }
  .footer-section .community,
  .footer-section .community .community-logos {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-menu ul li {
    margin-top: 8px;
  }
  .footer {
    padding: 30px 0 !important;
  }
  .landing-banner {
    background-size: cover;
    padding: 60px 10px 150px;
    height: auto;
  }
  .landing-banner h1 {
    line-height: 1.2;
  }
  .slide-nxt {
    top: 0 !important;
  }
  .welcome-ps-img {
    display: none;
  }
  section.sucess-story .swiper-wrapper {
    padding-top: 50px;
  }
  .start-amber a {
    white-space: nowrap;
    width: 300px !important;
  }
}

@media (max-width: 991.98px) {
  .footer-section .community,
  .footer-section .community .community-logos {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-menu ul li {
    margin-top: 8px;
  }
  .welcome-ps .row {
    flex-direction: column-reverse;
  }
  .banner-img,
  .where-begin-img,
  .test-prepare-img,
  .vision-mission-img {
    display: none;
  }
  section.banner p {
    max-width: 100%;
  }
  .start-btn a,
  .contact-bts a {
    width: fit-content;
    padding: 10px;
  }
  .vision-mission {
    overflow: hidden;
  }
  .talk-now-img {
    margin-top: 20px;
  }
  section.get-in-touch .contact-cta {
    padding: 15px 10px;
  }
  section.where-begin {
    padding-bottom: 30px !important;
  }
}

@media (max-width: 1199.98px) {
  /* header */
  .header-menu-left {
    width: 100%;
  }
  .header .header-menu {
    width: 100%;
    flex-direction: column;
    margin-top: 74px;
    justify-content: left !important;
  }
  .close-menu {
    position: absolute;
    right: 10px;
    top: 18px;
    border-radius: 50px;
    color: #000;
    font-size: 20px;
    display: block;
  }
  div#navbarText {
    position: fixed;
    background: #fff;
    height: 100% !important;
    transition: all 0.5s ease-in-out;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: -100%;
    overflow-y: scroll;
    padding: 40px 10px;
  }
  .header-section .header-menu {
    width: 100%;
    margin: 40px 0;
    flex-direction: column !important;
    gap: 20px;
  }
  .navbar-collapse.collapse.show {
    left: 0% !important;
  }
  .header .header-menu {
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1349.98px) {
  .contain-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section.our-story,
  section.make-scholars,
  section.why-choose,
  section.study-abroad,
  section.powered-by,
  section.ready-start,
  section.our-expertise {
    padding: 40px 0 !important;
  }
  .terms-block .row {
    margin-bottom: 30px !important;
  }
  .section-top-mt {
    margin-top: 60px !important;
  }
  .section-top-pt {
    padding-top: 60px !important;
  }
  .contact-details {
    margin-top: 20px;
  }
  section.get-in-touch {
    padding-bottom: 40px !important;
  }
  body.services-we-offer .banner-img {
    position: relative;
  }
}

@media (min-width: 1200px) and (max-width: 1440.98px) {
  body.accodomation .banner-img img {
    max-width: 100%;
    height: auto;
  }
}
