section.banner {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}
.banner-img {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
}
.study-abroad .section-head p {
  max-width: 600px;
  margin: 0 auto;
}
.study-abroad-card.card {
  position: relative;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 22.5px 0px #0000001a;
  height: 95%;
  margin-top: 10px;
}
.study-abroad-card.card h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 34px;
  max-width: 452px;
}
.corner-step {
  position: absolute;
  top: 0;
  right: 0;
  background: #fe1c21;
  color: #fff;
  font-weight: 600;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  width: 110px;
  height: 100px;
  text-align: end;
  font-size: 48px;
  padding: 0px 13px;
}

ul.choose-list li {
  list-style: none;
  margin-bottom: 9px;
  position: relative;
  color: #5e5e5e;
  font-weight: 500 !important;
  font-size: 18px;
}
ul.choose-list li:before {
  position: absolute;
  content: "";
  background-image: url(../images/landing/choose-list.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: -30px;
  top: -1px;
}

a.link {
  font-size: 18px;
  color: #fe1c21;
  text-decoration: underline;
  font-weight: 500;
  font-family: "inter";
}
section.study-abroad {
  padding: 100px 0;
}
.whats-app-btn a {
  color: #505050;
  font-weight: 700;
  border: 1px solid #292929;
  padding: 13px;
  display: inline-block;
  text-align: center;
}
.contact-bts a {
  width: 330px;
}
section.where-begin p {
  font-size: 28px;
  color: #505050;
}
